@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.button{
    cursor: pointer;
    background-color: yellow;
    border-radius: 10px;
    border:none;
    color: #fff;
   margin: 1rem;
   padding: 1.5rem 3rem;
   font-size: 1.3rem;
   font-family: inherit;
}

.button:hover{
opacity: 0.89;
}
.button:focus{
    outline: none;
}